<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LOGIKA Transport and Logistics HTML5 Template | About Us</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="resources/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body ng-app="myApp">
    <div class="page-wrapper" ng-controller="aboutCtrl">

        <!-- Preloader 
    <div class="preloader"></div>
 	
    <!-- Main Header 
        <header class="main-header">-->
        <!--Header-Upper-->
        <div class="header-upper">
            <div class="top-bar">
                <div class="auto-container clearfix">
                    <!--Top Right-->
                    <div class="top-right">
                        <ul class="clearfix">
                            <li><span class="icon flaticon-phone41"></span> +49 123 456 789</li>
                            <li><span class="icon flaticon-mail4"></span> <a href="mailto:logistic@email.com">logistic@email.com</a></li>
                            <li><span class="icon flaticon-clock96"></span> Mon - Sat 08:00 - 18:00</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="auto-container">
                <div class="clearfix">

                    <!--Logo-->
                    <div class="pull-left logo-outer">
                        <div class="logo">
                            <a href="#"><img src="images/logo.jpg" alt="" title="Logika"></a>
                        </div>
                    </div>

                    <!--Upper Right-->
                    <div class="pull-right upper-right">
                        <div class="search-box">
                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search" placeholder="Search for something">
                                    <button type="submit" class="btn-submit"><span class="fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Header-Lower-->
        <div class="header-lower">
            <div class="auto-container clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="dropdown"><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Homepage One</a></li>
                                    <li><a href="index-2.html">Homepage Two</a></li>
                                    <li><a href="index-3.html">Homepage Three</a></li>
                                </ul>
                            </li>
                            <li class="current"><a href="about.html">About us</a></li>
                            <li class="dropdown"><a href="services.html">Services</a>
                                <ul>
                                    <li><a href="services.html">Services</a></li>

                                    <li><a href="services-gallery.html">Services Gallery</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="about.html">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li class="dropdown"><a href="blog-leftbar.html">Sidebar Pages</a>
                                        <ul>
                                            <li><a href="blog-leftbar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog.html">Blog Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-two-column.html">Blog Two Column</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->

                <!--Get Quote Button-->
                <div class="qet-quote-outer pull-right">
                    <a href="#" class="theme-btn get-quote-btn"><span class="icon flaticon-airplane47"></span>&ensp; Get a Quote</a>
                </div>

            </div>
        </div>

        </header>
        <!--End Main Header -->


        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/background/bg-title.jpg);">
            <div class="auto-container">
                <h1>ABOUT US</h1>

                <!--Bread Crumb-->
                <div class="bread-crumb">
                    <a href="#">Home</a> / <a href="#" class="current">About</a>
                </div>
            </div>
        </section>

        <!--Default Two Column-->
        <section class="default-two-col">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Column-->
                    <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                        <article class="inner-box">
                            <h2>wELCOME TO LOGIKA - your TRANSPORT and logistc provider</h2>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Consetetur
                                    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                <br>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Stet clita kasd gubergren, no sea takimata sanctus.</p>
                            </div>

                        </article>
                    </div>

                    <!--Column-->
                    <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                        <!--Why Us-->
                        <article class="why-us-column style-two">
                            <h2 class="styled-title">WHY CHOOSE US?</h2>
                            <div class="desc-text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                    ut laoreet dolore magna aliquam erat volutpat. .</p>
                            </div>

                            <div class="row clearfix">
                                <!--Column-->
                                <div class="col-lg-6 col-md-6 col-xs-12 column">
                                    <ul class="styled-list-one">
                                        <li>World Wide Transport</li>
                                        <li>Ship Transport</li>
                                        <li>Logistic Strategies</li>
                                        <li>Secure Packaging</li>
                                    </ul>
                                </div>

                                <!--Column-->
                                <div class="col-lg-6 col-md-6 col-xs-12 column">
                                    <ul class="styled-list-one">
                                        <li>Awesome Shipping Methods</li>
                                        <li>Logistic Warehousing</li>
                                        <li>Road Transport</li>
                                        <li>Fast Delivery Attempts</li>
                                    </ul>
                                </div>

                            </div>

                            <div class="text-right"><a href="#" class="theme-btn btn-style-one">View Details</a></div>

                        </article>
                        <!--Why us End-->
                    </div>

                </div>
            </div>
        </section>


        <!--Our Team Section-->
        <section class="team-section padd-top-20">
            <div class="auto-container">

                <div class="sec-title">
                    <h2>Meet Our Team</h2>
                    <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
                </div>

                <div class="team-slider-outer">
                    <!--Team Slider-->
                    <div class="team-slider">

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-1.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Jonathan Downing</h4>
                                    <p>CEO / Employee Manager</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-2.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Jessica Bonner</h4>
                                    <p>Head Office Manager</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-3.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Peter Dust</h4>
                                    <p>Insurance Manager</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-4.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Patrick Oconnor</h4>
                                    <p>Marketing Assistant</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-1.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Jonathan Downing</h4>
                                    <p>CEO / Employee Manager</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-2.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Jessica Bonner</h4>
                                    <p>Head Office Manager</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-3.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Peter Dust</h4>
                                    <p>Insurance Manager</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                        <!--Member-->
                        <article class="member-column">
                            <div class="inner-box">
                                <figure class="image">
                                    <a href="#"><img src="images/resource/team-4.jpg" alt=""></a>
                                </figure>
                                <div class="member-title">
                                    <h4>Patrick Oconnor</h4>
                                    <p>Marketing Assistant</p>
                                </div>
                                <div class="member-desc">
                                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" class="fa fa-facebook-f"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </article>

                    </div>

                </div>
            </div>
        </section>


        <!--Default Services Section-->
        <section class="default-services no-padd-top">
            <div class="auto-container">
                <!--Section Title-->
                <div class="sec-title">
                    <h2>What We Do</h2>
                    <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
                </div>

                <div class="row clearfix">

                    <!--Column-->
                    <div class="col-md-4 col-sm-6 col-xs-12 column">
                        <!--Block-->
                        <article class="block">
                            <h3><span class="icon flaticon-delivery55"></span>Fast Delivery</h3>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                    </div>

                    <!--Column-->
                    <div class="col-md-4 col-sm-6 col-xs-12 column">
                        <!--Block-->
                        <article class="block">
                            <h3><span class="icon flaticon-travelling24"></span>Secure Packaging</h3>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                    </div>

                    <!--Column-->
                    <div class="col-md-4 col-sm-6 col-xs-12 column">
                        <!--Block-->
                        <article class="block">
                            <h3><span class="icon flaticon-airplane73"></span>Airplane Transport</h3>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                    </div>

                    <!--Column-->
                    <div class="col-md-4 col-sm-6 col-xs-12 column">
                        <!--Block-->
                        <article class="block">
                            <h3><span class="icon flaticon-global50"></span>World Wide Transport</h3>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                    </div>

                    <!--Column-->
                    <div class="col-md-4 col-sm-6 col-xs-12 column">
                        <!--Block-->
                        <article class="block">
                            <h3><span class="icon flaticon-sea9"></span>Seas Freight</h3>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                    </div>

                    <!--Column-->
                    <div class="col-md-4 col-sm-6 col-xs-12 column">
                        <!--Block-->
                        <article class="block">
                            <h3><span class="icon flaticon-packages2"></span>Logistic Storage</h3>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </section>


        <!--Main Footer-->
        <footer class="main-footer">

            <!--Footer Upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <div class="clearfix">

                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">

                                <!--Footer Column-->
                                <div class="col-md-8 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget about-widget">
                                        <div class="logo">
                                            <a href="#"><img src="images/logo-footer.png" alt=""></a>
                                        </div>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit amet. </p>

                                        <div class="social-links">
                                            <a href="#"><span class="fa fa-facebook-f"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-pinterest"></span></a>
                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                        </div>

                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="col-md-4 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget links-widget">
                                        <h2>Quick Links</h2>
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Latest News</a></li>
                                            <li><a href="#">Products</a></li>
                                            <li><a href="#">Contact</a></li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-md-4 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget links-widget">
                                        <h2>Service Offers</h2>
                                        <ul>
                                            <li><a href="#">Road Transport</a></li>
                                            <li><a href="#">Sea Freight</a></li>
                                            <li><a href="#">Air Freight</a></li>
                                            <li><a href="#">Railway Logistics</a></li>
                                            <li><a href="#">Packaging &amp; Storage</a></li>
                                            <li><a href="#">Warehousing</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="col-md-8 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget contact-widget">
                                        <h2>Contact Us</h2>
                                        <ul>
                                            <li><strong>Address:</strong> 78 Oxfrod Street, Beverly Hill New York, United States of America</li>
                                            <li><strong>Phone:</strong> (800) 0123 4567 890</li>
                                            <li><strong>Fax:</strong> (800) 0123 4567 891</li>
                                            <li><strong>E-mail:</strong> email@envato.com</li>
                                        </ul>
                                        <br>


                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <!--Copyright-->
                    <div class="copyright">&copy; 2015 by &ensp; <strong>Logika - Logistic &amp; Transport Template</strong> &ensp; All rights reserved</div>
                </div>
            </div>

        </footer>


    </div>
    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top"><span class="icon flaticon-sky8"></span></div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>
</body>

</html>