<div ng-controller="aboutCtrl">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(resources/images/images-betos/001.jpg);">
        <div class="auto-container">
            <h1 class="styled-title">{{'msg.pagina.acercade.header' | translate}}</h1>
            <!--Bread Crumb-->
            <div class="bread-crumb">
                <a ui-sref="home">{{'msg.pagina.acercade.link.home' | translate}}</a> /
                <a ui-sref="about" class="current">{{'msg.pagina.acercade.link.about' | translate}}</a>
            </div>
        </div>
    </section>

    <!--Default Two Column-->
    <section class="default-two-col">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Column nuestra empresa-->
                <div class="col-md-12 col-sm-12 col-xs-12 content-column">
                    <article class="inner-box">
                        <h2 class="styled-title">{{'msg.pagina.acercade.header.nuestraEmpresa' | translate }}</h2>
                        <div class="text">
                            <p>{{'msg.pagina.acercade.nuestraEmpresa.parrafo' | translate}}</p>
                        </div>
                    </article>
                </div>

                <!--Column nuestra historia-->
                <div class="col-md-12 col-sm-12 col-xs-12 content-column">
                    <article class="inner-box">
                        <h2 class="styled-title">{{'msg.pagina.acercade.header.nuestraHistoria' | translate }}</h2>
                        <div class="text">
                            <p>{{'msg.pagina.acercade.nuestraHistoria.parrafo' | translate}}</p>
                            <p>{{'msg.pagina.acercade.nuestraHistoria.parrafo1' | translate}}</p>
                        </div>
                    </article>
                </div>
                <!--Column Valores-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                    <article class="why-us-column style-two">
                        <h2 class="styled-title">{{'msg.pagina.acercade.valores.header' | translate}}</h2>
                        <div class="desc-text">
                            <div class="row clearfix">
                                <!--Column-->
                                <div class="col-lg-12 col-md-12 col-xs-12 column">
                                    <ul class="styled-list-one">
                                        <li>{{'msg.pagina.acercade.valores.pasion' | translate}}
                                        </li>
                                        <li>{{'msg.pagina.acercade.valores.compromiso' | translate}}</li>
                                        <li>{{'msg.pagina.acercade.valores.confianza' | translate}}</li>
                                        <li>{{'msg.pagina.acercade.valores.respeto' | translate}}</li>
                                        <li>{{'msg.pagina.acercade.valores.honestidad' | translate}}</li>
                                        <li>{{'msg.pagina.acercade.valores.responsabilidad' | translate}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Misión Visión-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                    <article class="why-us-column style-two">
                        <h2 class="styled-title">{{'msg.pagina.acercade.header.mision' | translate}}</h2>
                        <div class="text">
                            <p>{{'msg.pagina.acercade.mision.parrafo' | translate}}</p>
                        </div>
                    </article>
                    <article class="why-us-column style-two">
                        <h2 class="styled-title">{{'msg.pagina.acercade.vision.header' | translate}}</h2>
                        <div class="text">
                            <p>{{'msg.pagina.acercade.vision.parrafo' | translate}}</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <h1 class="text-center">{{'msg.pagina.acercade.header.nuestrasOficinas' | translate}}</h1>
    <section>
        <div class="map-section">
            <div class="map-container" id="mapaLeaft"></div>
        </div>
    </section>

    <!--Sección de unidades-->
    <section class="featured-image-sec">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>{{'msg.pagina.acercade.header.unidadesTrasnfer' | translate}}</h2>
                <div class="heading-text">{{'msg.pagina.acercade.unidadesTransfer.descripcion' | translate}}</div>
            </div>

            <div class="row clearfix">

                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box">
                        <a href="#">
                            <img src="resources/images/images-betos/001.jpg" width="471" height="377" alt="" title="">
                        </a>
                    </figure>
                </div>

                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                    <div class="row clearfix">
                        <!--Column-->
                        <div class="col-md-4 col-sm-6 col-xs-12 column">
                            <!--Block GPS-->
                            <article class="block">
                                <h3>
                                    <span class="icon fa fa-globe"></span>{{'msg.pagina.acercade.subheader.satelite' | translate}}</h3>
                                <div class="text">
                                    <p>{{'msg.pagina.acercade.subheader.satelite.descripcion' | translate}}</p>
                                </div>
                            </article>
                        </div>

                        <!--Column-->
                        <div class="col-md-4 col-sm-6 col-xs-12 column">
                            <!--Block unidades-->
                            <article class="block">
                                <h3>
                                    <span class="icon flaticon-delivery55"></span>{{'msg.pagina.acercade.subheader.unidades' | translate}}</h3>
                                <div class="text">
                                    <p>{{'msg.pagina.acercade.subheader.descripcion' | translate}}</p>
                                </div>
                            </article>
                        </div>

                        <!--Column-->
                        <div class="col-md-4 col-sm-6 col-xs-12 column">
                            <!--Block monitoreo-->
                            <article class="block">
                                <h3>
                                    <span class="icon fa fa-road"></span>{{'msg.pagina.acercade.subheader.cuentaEspejo' | translate}}</h3>
                                <div class="text">
                                    <p>{{'msg.pagina.acercade.subheader.cuentaEspejo.descripcion' | translate}}</p>
                                </div>
                            </article>
                        </div>

                        <!--Column-->
                        <div class="col-md-4 col-sm-6 col-xs-12 column">
                            <!--Block monitoreo-->
                            <article class="block">
                                <h3>
                                    <span class="icon fa fa-eye"></span>{{'msg.pagina.acercade.subheader.monitoreo' | translate}}</h3>
                                <div class="text">
                                    <p>{{'msg.pagina.acercade.subheader.monitoreo.descripcion' | translate}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>