<div ng-controller="aboutCtrl">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(resources/images/background/bg-title.jpg);">
        <div class="auto-container">
            <h1>ABOUT US</h1>

            <!--Bread Crumb-->
            <div class="bread-crumb">
                <a href="#">Home</a> / <a href="#" class="current">About</a>
            </div>
        </div>
    </section>

    <!--Default Two Column-->
    <section class="default-two-col">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                    <article class="inner-box">
                        <h2>wELCOME TO LOGIKA - your TRANSPORT and logistc provider</h2>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            <br>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Stet clita kasd gubergren, no sea takimata sanctus.</p>
                        </div>

                    </article>
                </div>

                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                    <!--Why Us-->
                    <article class="why-us-column style-two">
                        <h2 class="styled-title">WHY CHOOSE US?</h2>
                        <div class="desc-text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                                laoreet dolore magna aliquam erat volutpat. .</p>
                        </div>

                        <div class="row clearfix">
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                    <li>World Wide Transport</li>
                                    <li>Ship Transport</li>
                                    <li>Logistic Strategies</li>
                                    <li>Secure Packaging</li>
                                </ul>
                            </div>

                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                    <li>Awesome Shipping Methods</li>
                                    <li>Logistic Warehousing</li>
                                    <li>Road Transport</li>
                                    <li>Fast Delivery Attempts</li>
                                </ul>
                            </div>

                        </div>

                        <div class="text-right"><a href="#" class="theme-btn btn-style-one">View Details</a></div>

                    </article>
                    <!--Why us End-->
                </div>

            </div>
        </div>
    </section>


    <!--Our Team Section-->
    <section class="team-section padd-top-20">
        <div class="auto-container">

            <div class="sec-title">
                <h2>Meet Our Team</h2>
                <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
            </div>

            <div class="team-slider-outer">
                <!--Team Slider-->
                <div class="team-slider">

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-1.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Jonathan Downing</h4>
                                <p>CEO / Employee Manager</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-2.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Jessica Bonner</h4>
                                <p>Head Office Manager</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-3.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Peter Dust</h4>
                                <p>Insurance Manager</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-4.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Patrick Oconnor</h4>
                                <p>Marketing Assistant</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-1.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Jonathan Downing</h4>
                                <p>CEO / Employee Manager</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-2.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Jessica Bonner</h4>
                                <p>Head Office Manager</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-3.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Peter Dust</h4>
                                <p>Insurance Manager</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!--Member-->
                    <article class="member-column">
                        <div class="inner-box">
                            <figure class="image">
                                <a href="#"><img src="resources/images/resource/team-4.jpg" alt=""></a>
                            </figure>
                            <div class="member-title">
                                <h4>Patrick Oconnor</h4>
                                <p>Marketing Assistant</p>
                            </div>
                            <div class="member-desc">
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                            </div>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="fa fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </article>

                </div>

            </div>
        </div>
    </section>


    <!--Default Services Section-->
    <section class="default-services no-padd-top">
        <div class="auto-container">
            <!--Section Title-->
            <div class="sec-title">
                <h2>What We Do</h2>
                <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
            </div>

            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <!--Block-->
                    <article class="block">
                        <h3><span class="icon flaticon-delivery55"></span>Fast Delivery</h3>
                        <div class="text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <!--Block-->
                    <article class="block">
                        <h3><span class="icon flaticon-travelling24"></span>Secure Packaging</h3>
                        <div class="text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <!--Block-->
                    <article class="block">
                        <h3><span class="icon flaticon-airplane73"></span>Airplane Transport</h3>
                        <div class="text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <!--Block-->
                    <article class="block">
                        <h3><span class="icon flaticon-global50"></span>World Wide Transport</h3>
                        <div class="text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <!--Block-->
                    <article class="block">
                        <h3><span class="icon flaticon-sea9"></span>Seas Freight</h3>
                        <div class="text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <!--Block-->
                    <article class="block">
                        <h3><span class="icon flaticon-packages2"></span>Logistic Storage</h3>
                        <div class="text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>
</div>