<div ng-controller="serviciosCtrl">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(resources/images/images-betos/002.jpg);">
        <div class="auto-container">
            <h1>{{'msg.pagina.servicios.header.servicios' | translate}}</h1>

            <!--Bread Crumb-->
            <div class="bread-crumb">
                <a ui-sref="home">{{'msg.header.navbar.inicio' | translate}}</a> /
                <a ui-sref="servicios" class="current">{{'msg.header.navbar.servicios' | translate}}</a>
            </div>
        </div>
    </section>

    <!--Featured Image Section-->
    <section class="featured-image-sec">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>{{'msg.pagina.servicios.header.servicios' | translate}}</h2>
            </div>

            <div class="row clearfix">

                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box">
                        <a href="#">
                            <img src="resources/images/images-betos/A-6.jpg" alt="" title="" style="width: 50%;">
                        </a>
                    </figure>
                </div>

                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                    <div class="row clearfix">

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3>
                                <span class="icon flaticon-delivery55"></span>{{'msg.pagina.servicios.servicio1.titulo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.servicio1.texto' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3>
                                <span class="icon flaticon-travelling24"></span>{{'msg.pagina.servicios.servicio2.titulo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.servicio2.texto' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3>
                                <span class="icon fa fa-road" style="margin:0;"></span>{{'msg.pagina.acercade.subheader.cuentaEspejo' | translate}}
                            </h3>
                            <div class="text">
                                <p>{{'msg.pagina.acercade.subheader.cuentaEspejo.descripcion' | translate}}</p>
                            </div>
                        </article>
                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3>
                                <span class="icon fa fa-eye"></span>{{'msg.pagina.acercade.subheader.monitoreo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.acercade.subheader.monitoreo.descripcion' | translate}}</p>
                            </div>
                        </article>
                    </div>
                </div>

            </div>

            <div class="sec-title">
                <h2>{{'msg.pagina.servicios.header.cobertura' | translate}}</h2>
            </div>

            <div class="row clearfix">

                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box">
                        <a href="#">
                            <img src="resources/images/certificaciones/mexico.png" alt="" title="" style="width: 50%;">
                        </a>
                    </figure>
                </div>

                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                    <div class="row clearfix">

                        <!--Block-->
                        <article class="col-md-12 col-sm-12 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3>
                                <span class="icon flaticon-delivery55"></span>{{'msg.pagina.servicios.fronteras' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.cobertura' | translate}}</p>
                            </div>
                        </article>
                        <!--Block-->
                        <article class="col-md-12 col-sm-12 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3>
                                <span class="icon flaticon-delivery55"></span>{{'msg.pagina.servicios.serviciosinternacionales' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.cobertura.internacionales' | translate}}</p>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>