<div ng-controller="serviciosCtrl">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(resources/images/background/bg-title.jpg);">
        <div class="auto-container">
            <h1>{{'msg.pagina.servicios.header.servicios' | translate}}</h1>

            <!--Bread Crumb-->
            <div class="bread-crumb">
                <a ui-sref="home">{{'msg.header.navbar.inicio' | translate}}</a> / <a ui-sref="servicios" class="current">{{'msg.header.navbar.servicios' | translate}}</a>
            </div>
        </div>
    </section>

    <!--Featured Image Section-->
    <section class="featured-image-sec">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>{{'msg.pagina.servicios.header.servicios' | translate}}</h2>
            </div>

            <div class="row clearfix">

                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box">
                        <a href="#"><img src="resources/images/resource/featured-image-4.jpg" alt="" title=""></a>
                    </figure>
                </div>

                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                    <div class="row clearfix">

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3><span class="icon flaticon-delivery55"></span>{{'msg.pagina.servicios.servicio1.titulo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.servicio1.texto' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3><span class="icon flaticon-travelling24"></span>{{'msg.pagina.servicios.servicio2.titulo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.servicio2.texto' | translate}}</p>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!--Featured Services Section-->
    <section class="featured-services no-padd-top">
        <div class="auto-container">

            <div class="sec-title">
                <h2>Our services</h2>
                <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
            </div>

            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon"><span class="flaticon-transportation"></span></div>
                        <div class="content">
                            <h3>World Wide Transport</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon"><span class="flaticon-delivery55"></span></div>
                        <div class="content">
                            <h3>Fast Delivery</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon"><span class="flaticon-travelling24"></span></div>
                        <div class="content">
                            <h3>Secure Packaging</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon"><span class="flaticon-airplane73"></span></div>
                        <div class="content">
                            <h3>Global Logistics</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon"><span class="flaticon-sea9"></span></div>
                        <div class="content">
                            <h3>Sea &amp; Ship Transport</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon"><span class="flaticon-packages2"></span></div>
                        <div class="content">
                            <h3>Logistic Storage</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>


            </div>
        </div>
    </section>



    <!--Default Two Column-->
    <section class="default-two-col with-tabs">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                    <!--Why Us-->
                    <article class="why-us-column style-two">
                        <h2 class="styled-title">WHY CHOOSE US?</h2>
                        <div class="desc-text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                                laoreet dolore magna aliquam erat volutpat. .</p>
                        </div>

                        <div class="row clearfix">
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                    <li>World Wide Transport</li>
                                    <li>Ship Transport</li>
                                    <li>Logistic Strategies</li>
                                    <li>Secure Packaging</li>
                                </ul>
                            </div>

                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                    <li>Awesome Shipping Methods</li>
                                    <li>Logistic Warehousing</li>
                                    <li>Road Transport</li>
                                    <li>Fast Delivery Attempts</li>
                                </ul>
                            </div>

                        </div>

                        <div class="text-left"><a href="#" class="theme-btn btn-style-one">View Details</a></div>

                    </article>
                    <!--Why us End-->
                </div>

                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">

                    <h2 class="styled-title">More information</h2>

                    <!--Accordion Box-->
                    <ul class="accordion-box">

                        <!--Block-->
                        <li class="block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><span class="icon fa icon-up fa-angle-up"></span> <span class="icon fa icon-down fa-angle-down"></span></div> Global Logistics Strategies</div>
                            <div class="acc-content current">
                                <div class="content">Placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa icon-up fa-angle-up"></span> <span class="icon fa icon-down fa-angle-down"></span></div> Provider of Best Shipping Methods</div>
                            <div class="acc-content">
                                <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa icon-up fa-angle-up"></span> <span class="icon fa icon-down fa-angle-down"></span></div> High Quality and Fast Delivery</div>
                            <div class="acc-content">
                                <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </section>
</div>