<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>LOGIKA Transport and Logistics HTML5 Template | Services Style Two</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header -->
    <header class="main-header">
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="top-bar">
            	<div class="auto-container clearfix">
                	<!--Top Right-->
                    <div class="top-right">
                        <ul class="clearfix">
                            <li><span class="icon flaticon-phone41"></span> +49 123 456 789</li>
                            <li><span class="icon flaticon-mail4"></span> <a href="mailto:logistic@email.com">logistic@email.com</a></li>
                            <li><span class="icon flaticon-clock96"></span> Mon - Sat 08:00 - 18:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        	<div class="auto-container">
            	<div class="clearfix">
                	
                    <!--Logo-->
                	<div class="pull-left logo-outer">
                    	<div class="logo"><a href="#"><img src="images/logo.jpg" alt="" title="Logika"></a></div>
                    </div>
                    
                    <!--Upper Right-->
                    <div class="pull-right upper-right">
                    	<div class="search-box">
                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search" placeholder="Search for something">
                                    <button type="submit" class="btn-submit"><span class="fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!--Header-Lower-->
        <div class="header-lower">
        	<div class="auto-container clearfix">
            	<!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="dropdown"><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Homepage One</a></li>
                                    <li><a href="index-2.html">Homepage Two</a></li>
                                    <li><a href="index-3.html">Homepage Three</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About us</a></li>
                            <li class="current dropdown"><a href="services.html">Services</a>
                                <ul>
                                    <li><a href="services.html">Services</a></li>
                                    
                                    <li><a href="services-gallery.html">Services Gallery</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="about.html">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li class="dropdown"><a href="blog-leftbar.html">Sidebar Pages</a>
                                        <ul>
                                            <li><a href="blog-leftbar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog.html">Blog Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="blog.html">Blog</a>
                                <ul>
                                	<li><a href="blog.html">Blog</a></li>
                                	<li><a href="blog-two-column.html">Blog Two Column</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
                
                <!--Get Quote Button-->
                <div class="qet-quote-outer pull-right">
                	<a href="#" class="theme-btn get-quote-btn"><span class="icon flaticon-airplane47"></span>&ensp; Get a Quote</a>
                </div>
                
            </div>
        </div>
    
    </header>
    <!--End Main Header -->
    
    
     <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg-title.jpg);">
        <div class="auto-container">
            <h1>OUR SERVICES</h1>
            
            <!--Bread Crumb-->
            <div class="bread-crumb">
            	<a href="#">Home</a> / <a href="#" class="current">Services</a>
            </div>
        </div>
    </section>
    
    <!--Featured Image Section-->
    <section class="featured-image-sec">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title">
            	<h2>What We Do</h2>
                <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
            </div>
            
        	<div class="row clearfix">
            	
                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-4.jpg" alt="" title=""></a></figure>
                </div>
                
                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                	<div class="row clearfix">
                    	
                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3><span class="icon flaticon-delivery55"></span>Fast Delivery</h3>
                            <div class="text">
                            	<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                        
                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3><span class="icon flaticon-travelling24"></span>Secure Packaging</h3>
                            <div class="text">
                            	<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                        
                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="900ms" data-wo-duration="1000ms">
                            <h3><span class="icon flaticon-airplane73"></span>World Wide Transport</h3>
                            <div class="text">
                            	<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                        
                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="600ms" data-wo-duration="1000ms">
                            <h3><span class="icon flaticon-sea9"></span>Seas Freight</h3>
                            <div class="text">
                            	<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--Featured Services Section-->
    <section class="featured-services no-padd-top">
    	<div class="auto-container">
        
        	<div class="sec-title">
            	<h2>Our services</h2>
                <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
            </div>
            
            <div class="row clearfix">
            	
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                    	<div class="icon"><span class="flaticon-transportation"></span></div>
                        <div class="content">
                            <h3>World Wide Transport</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                    	<div class="icon"><span class="flaticon-delivery55"></span></div>
                        <div class="content">
                            <h3>Fast Delivery</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                    	<div class="icon"><span class="flaticon-travelling24"></span></div>
                        <div class="content">
                            <h3>Secure Packaging</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                    	<div class="icon"><span class="flaticon-airplane73"></span></div>
                        <div class="content">
                            <h3>Global Logistics</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                    	<div class="icon"><span class="flaticon-sea9"></span></div>
                        <div class="content">
                            <h3>Sea &amp; Ship Transport</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                    	<div class="icon"><span class="flaticon-packages2"></span></div>
                        <div class="content">
                            <h3>Logistic Storage</h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <a href="#" class="theme-btn skew-btn"><span class="btn-text">View Details</span></a>
                        </div>
                    </article>
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    
    <!--Default Two Column-->
    <section class="default-two-col with-tabs">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                	<!--Why Us-->
                    <article class="why-us-column style-two">
                        <h2 class="styled-title">WHY CHOOSE US?</h2>
                        <div class="desc-text">
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. .</p>
                        </div>
                        
                        <div class="row clearfix">
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                	<li>World Wide Transport</li>
                                    <li>Ship Transport</li>
                                    <li>Logistic Strategies</li>
                                    <li>Secure Packaging</li>
                                </ul>
                            </div>
                            
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                	<li>Awesome Shipping Methods</li>
                                    <li>Logistic Warehousing</li>
                                    <li>Road Transport</li>
                                    <li>Fast Delivery Attempts</li>
                                </ul>
                            </div>
                            
                        </div>
                        
                        <div class="text-left"><a href="#" class="theme-btn btn-style-one">View Details</a></div>
                        
                    </article><!--Why us End-->
                </div>
                
                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 content-column">
                	
                    <h2 class="styled-title">More information</h2>
                    
                    <!--Accordion Box-->
                    <ul class="accordion-box">
                    	
                        <!--Block-->
                    	<li class="block">
                            <div class="acc-btn active"><div class="icon-outer"><span class="icon fa icon-up fa-angle-up"></span> <span class="icon fa icon-down fa-angle-down"></span></div> Global Logistics Strategies</div>
                            <div class="acc-content current">
                                <div class="content">Placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                    	<li class="block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon fa icon-up fa-angle-up"></span> <span class="icon fa icon-down fa-angle-down"></span></div> Provider of Best Shipping Methods</div>
                            <div class="acc-content">
                                <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                    	<li class="block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon fa icon-up fa-angle-up"></span> <span class="icon fa icon-down fa-angle-down"></span></div> High Quality and Fast Delivery</div>
                            <div class="acc-content">
                                <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                            </div>
                        </li>
                        
                    </ul>
                    
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--Testimonials-->
    <section class="testimonials-section no-bg">
		<div class="auto-container">
            
            <!--Sec Title-->
            <div class="sec-title">
            	<h2>What Our Client Say</h2>
                <div class="separator"></div>
                <div class="heading-text">At vero eos et accusam et justo duo dolores et ea rebum.</div>
            </div>
                        
        	<div class="testimonials-slider column-carousel three-column">
            	
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/author-thumb.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Monica Baiehl  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Patrick Harris  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/author-thumb.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>

                    
                    <div class="info-box clearfix">
                    	<h3>Patrick Harris  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/author-thumb.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Patrick Harris  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="images/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                    <div class="info-box clearfix">
                    	<h3>Jack Willshere  &ensp; <strong class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></strong></h3>
                    </div>
                    
                </article>
                
            </div>
            
        </div>    
    </section>
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="clearfix">
                	
                    <!--Two 4th column-->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                        	
                            <!--Footer Column-->
                        	<div class="col-md-8 col-sm-6 col-xs-12 column">
                            	<div class="footer-widget about-widget">
                                	<div class="logo"><a href="#"><img src="images/logo-footer.png" alt=""></a></div>
                                	<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit amet. </p>
                                    
                                    <div class="social-links">
                                    	<a href="#"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-dribbble"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-pinterest"></span></a>
                                        <a href="#"><span class="fa fa-instagram"></span></a>
                                    </div>
                                    
                                </div>
                            </div>
                            
                    		<!--Footer Column-->
                        	<div class="col-md-4 col-sm-6 col-xs-12 column">
                            	<div class="footer-widget links-widget">
                                	<h2>Quick Links</h2>	
                                    <ul>
                                    	<li><a href="#">Home</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Latest News</a></li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">Contact</a></li>

                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Two 4th column-->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                    		<!--Footer Column-->
                        	<div class="col-md-4 col-sm-6 col-xs-12 column">
                            	<div class="footer-widget links-widget">
                                	<h2>Service Offers</h2>	
                                    <ul>
                                    	<li><a href="#">Road Transport</a></li>
                                        <li><a href="#">Sea Freight</a></li>
                                        <li><a href="#">Air Freight</a></li>
                                        <li><a href="#">Railway Logistics</a></li>
                                        <li><a href="#">Packaging &amp; Storage</a></li>
                                        <li><a href="#">Warehousing</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="col-md-8 col-sm-6 col-xs-12 column">
                            	<div class="footer-widget contact-widget">
                                	<h2>Contact Us</h2>
                                	<ul>
                                    	<li><strong>Address:</strong> 78 Oxfrod Street, Beverly Hill New York,  United States of America</li>
                                        <li><strong>Phone:</strong> (800) 0123 4567 890</li>
                                        <li><strong>Fax:</strong> (800) 0123 4567 891</li>
                                        <li><strong>E-mail:</strong> email@envato.com</li>
                                    </ul>
                                    <br>
                                    
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container">
                <!--Copyright-->
                <div class="copyright">&copy; 2015 by &ensp; <strong>Logika - Logistic &amp; Transport Template</strong> &ensp; All rights reserved</div>
            </div>
        </div>
        
    </footer>
        	
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top"><span class="icon flaticon-sky8"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
