<div ng-controller="infraestructuraCtrl">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(resources/images/images-betos/006.jpg);">
        <div class="auto-container">
            <h1>{{'msg.pagina.tecnologia.header' | translate}}</h1>

            <!--Bread Crumb-->
            <div class="bread-crumb">
                <a ui-sref="home">{{'msg.pagina.acercade.link.home' | translate}}</a> /
                <a ui-sref="contacto" class="current">{{'msg.pagina.tecnologia.link' | translate}}</a>
            </div>
        </div>
    </section>

    <!--Featured Image Section-->
    <section class="featured-image-sec">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>{{'msg.pagina.tecnologia.instalaciones.header' | translate}}</h2>
                <div class="heading-text" style="font-size: 1.5em;">{{'msg.pagina.tecnologia.instalaciones.header.descripcion' | translate}}</div>
            </div>

            <div class="row clearfix">

                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box">
                        <a href="#"><img src="resources/images/resource/featured-image-4.jpg" alt="" title=""></a>
                    </figure>
                </div>

                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                    <div class="row clearfix">

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaMatriz' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaMatriz.descripcion' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaLaredo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaLaredo.descripcion' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="900ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaUruapan' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaUruapan.descripcion' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="600ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>Seas Freight</h3>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                            </div>
                        </article>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>