<div ng-controller="infraestructuraCtrl">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(resources/images/images-betos/006.jpg);">
        <div class="auto-container">
            <h1>{{'msg.pagina.tecnologia.header' | translate}}</h1>

            <!--Bread Crumb-->
            <div class="bread-crumb">
                <a ui-sref="home">{{'msg.pagina.acercade.link.home' | translate}}</a> /
                <a ui-sref="contacto" class="current">{{'msg.pagina.tecnologia.link' | translate}}</a>
            </div>
        </div>
    </section>

    <!--Featured Image Section-->
    <section class="featured-image-sec">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>{{'msg.pagina.tecnologia.instalaciones.header' | translate}}</h2>
                <div class="heading-text" style="font-size: 1.5em;">{{'msg.pagina.tecnologia.instalaciones.header.descripcion' | translate}}</div>
            </div>

            <div class="row clearfix">

                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box">
                        <a href="#"><img src="resources/images/resource/featured-image-4.jpg" alt="" title=""></a>
                    </figure>
                </div>

                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                    <div class="row clearfix">

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaMatriz' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaMatriz.descripcion' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaLaredo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaLaredo.descripcion' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="900ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaUruapan' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaUruapan.descripcion' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-6 col-sm-6 col-xs-12 block wow fadeInRight" data-wow-delay="600ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.reynosa' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.reynosa.descripcion' | translate}}</p>
                            </div>
                        </article>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="sidebar-page" style="padding: 0;">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>{{'msg.pagina.tecnologia.mantenimiento.header' | translate}}</h2>
            </div>
            <div class="row clearfix">
                <!--Content Side-->
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <section class="blog-container">
                        <div class="blog-post wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <article class="column-inner">
                                <figure class="image-box">
                                    <a href="#"><img src="resources/images/resource/blog-image-1.jpg" alt="" title="Blog"></a>
                                </figure>
                                <div class="lower-part">
                                    <div class="post-info">
                                        <div class="info-inner">
                                            <div class="post-title text-center">
                                                <h3>
                                                    {{'msg.pagina.tecnologia.mantenimiento.descripción' | translate}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-text"></div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
                <!--Sidebar-->
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        <!-- Popular Categories -->
                        <div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="sidebar-title">
                                <h3>{{'msg.pagina.tecnologia.mantenimiento.revision' | translate}}</h3>
                            </div>
                            <ul class="list">
                                <li><span class="icon fa fa-angle-right"></span> {{'msg.pagina.tecnologia.mantenimiento.revision.lavado' | translate}}</li>
                                <li><span class="icon fa fa-angle-right"></span> {{'msg.pagina.tecnologia.mantenimiento.revision.taller' | translate}}</li>
                                <li><span class="icon fa fa-angle-right"></span> {{'msg.pagina.tecnologia.mantenimiento.revision.lamineria' | translate}}</li>
                                <li><span class="icon fa fa-angle-right"></span> {{'msg.pagina.tecnologia.mantenimiento.revision.pintura' | translate}}</li>
                                <li><span class="icon fa fa-angle-right"></span> {{'msg.pagina.tecnologia.mantenimiento.revision.verificar' | translate}}</li>
                            </ul>

                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <section class="featured-image-sec">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>{{'msg.pagina.tecnologia.instalaciones.header.tecnologia' | translate}}</h2>
                <div class="heading-text" style="font-size: 1.5em;">{{'msg.pagina.tecnologia.tecnologia.monitoreo' | translate}}</div>
            </div>

            <div class="row clearfix">
                <!--Block Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 block-column">
                    <div class="row clearfix">
                        <!--Gps Betos Trucking.- http://gps.betostrucking.com/
                                Gpssecure.- http://localiza.gpssecure.com.mx/
                                Sitrack.- https://www.sitrack.com/core03/noSession.jsp
                                Enlace Freightliner: http://enlacefreightliner.com/SIGeV-war/faces/ingresoFhl.jsp-->
                        <!--Block-->
                        <article class="col-md-12 col-sm-12 col-xs-12 block wow fadeInRight" data-wow-delay="300ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaMatriz' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaMatriz.descripcion' | translate}}</p>
                            </div>
                        </article>

                        <!--Block-->
                        <article class="col-md-12 col-sm-12 col-xs-12 block wow fadeInRight" data-wow-delay="0ms" data-wo-duration="1000ms">
                            <h3><span class="icon fa fa-building"></span>{{'msg.pagina.tecnologia.instalaciones.header.oficinaLaredo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.tecnologia.instalaciones.oficinaLaredo.descripcion' | translate}}</p>
                            </div>
                        </article>
                    </div>
                </div>

                <!--Image Column-->
                <div class="col-md-5 col-sm-12 col-xs-12 image-column wow fadeInLeft" data-wow-delay="0ms" data-wo-duration="1000ms">
                    <figure class="image-box">
                        <a href="#"><img src="resources/images/resource/featured-image-4.jpg" alt="" title=""></a>
                    </figure>
                </div>

            </div>
        </div>
    </section>
</div>