<div ng-controller="homeCtrl">
    <!--Main Slider-->
    <section ng-controller="homeCtrl">

        <div style="height: 350px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Featured Three Column-->
    <section class="default-section featured-three-col">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#">
                                <img src="resources/images/resource/featured-image-1.jpg" alt="" title="">
                            </a>
                        </figure>
                        <div class="content">
                            <h3>
                                <a href="#">Packaging &amp; Storage</a>
                            </h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                            </div>
                            <div class="text-right">
                                <a href="#" class="read-more">
                                    <span class="icon fa fa-angle-right"></span> Read More</a>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#">
                                <img src="resources/images/resource/featured-image-2.jpg" alt="" title="">
                            </a>
                        </figure>
                        <div class="content">
                            <h3>
                                <a href="#">Fast Delivery Transport</a>
                            </h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                            </div>
                            <div class="text-right">
                                <a href="#" class="read-more">
                                    <span class="icon fa fa-angle-right"></span> Read More</a>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#">
                                <img src="resources/images/resource/featured-image-3.jpg" alt="" title="">
                            </a>
                        </figure>
                        <div class="content">
                            <h3>
                                <a href="#">Logistic Strategies</a>
                            </h3>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                            </div>
                            <div class="text-right">
                                <a href="#" class="read-more">
                                    <span class="icon fa fa-angle-right"></span> Read More</a>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>
</div>