<!--Main Slider-->
<section class="main-slider">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="resources/images/main-slider/1.jpg" data-saveperformance="off" data-title="Some Title Here">
                    <img src="resources/images/main-slider/1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption lfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="-100" data-speed="1000" data-start="300" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <h2>WE ARE YOUR LOGISTIC TRANSPORT <br>SPEDITION CENTER</h2>
                    </div>


                    <div class="tp-caption lfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="20" data-speed="1500" data-start="800" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore <br>et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et <br>ea rebum. Stet
                                clita kasd gubergren, no sea takimata</p>
                        </div>
                    </div>

                    <div class="tp-caption lfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="100" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="link-box"><a href="#" class="theme-btn btn-style-one">More Details</a></div>
                    </div>

                </li>

                <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000" data-thumb="resources/images/main-slider/2.jpg" data-saveperformance="off" data-title="Some Title Here">
                    <img src="resources/images/main-slider/2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption lfb tp-resizeme" data-x="right" data-hoffset="-15" data-y="center" data-voffset="-100" data-speed="1000" data-start="300" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <h2 class="text-right">WE ARE YOUR LOGISTIC TRANSPORT <br>SPEDITION CENTER</h2>
                    </div>


                    <div class="tp-caption lfb tp-resizeme" data-x="right" data-hoffset="-15" data-y="center" data-voffset="20" data-speed="1500" data-start="800" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="text text-right">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore <br>et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et <br>ea rebum. Stet
                                clita kasd gubergren, no sea takimata</p>
                        </div>
                    </div>

                    <div class="tp-caption lfb tp-resizeme" data-x="right" data-hoffset="-15" data-y="center" data-voffset="100" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="link-box"><a href="#" class="theme-btn btn-style-one">More Details</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="resources/images/main-slider/3.jpg" data-saveperformance="off" data-title="Some Title Here">
                    <img src="resources/images/main-slider/3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption lfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-100" data-speed="1000" data-start="300" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <h2 class="text-center">WE ARE YOUR LOGISTIC TRANSPORT <br>SPEDITION CENTER</h2>
                    </div>


                    <div class="tp-caption lfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="20" data-speed="1500" data-start="800" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="text text-center">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore <br>et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et <br>ea rebum. Stet
                                clita kasd gubergren, no sea takimata</p>
                        </div>
                    </div>

                    <div class="tp-caption lfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="100" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3"
                        data-endspeed="1200" data-endeasing="Power4.easeIn" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="link-box"><a href="#" class="theme-btn btn-style-one">More Details</a></div>
                    </div>

                </li>


            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>