<div ng-controller="homeCtrl">
    <!--Main Slider-->
    <section>
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active" contenteditable="false"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="" contenteditable="false"></li>
                <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
                <li data-target="#myCarousel" data-slide-to="3" class="" contenteditable="false"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="resources/images/images-betos/sizing/custom_1.png">
                    <div class="carousel-caption" style="margin-bottom: 10%;">
                        <h1 class="toggleHeading">{{'msg.pagina.home.slider.pasion' | translate}}</h1>
                        <p class="toggleCaption" style="font-size: 1.5em">
                            {{'msg.pagina.home.slider.pasion.texto' | translate}}
                            <br/>
                            <br/>
                            <a class="btn btn-primary" ui-sref="contacto">{{'msg.general.button.contacto' | translate}}</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="resources/images/images-betos/sizing/custom_2.png">
                    <div class="carousel-caption" style="margin-bottom: 10%;">
                        <p class="toggleCaption">
                            <h1 class="toggleHeading">{{'msg.pagina.home.slider.compromiso' | translate}}</h1>
                            <p class="toggleCaption" style="font-size: 1.5em">
                                {{'msg.pagina.home.slider.compromiso.texto' | translate}}
                                <br/>
                                <br/>
                                <a class="btn btn-primary" ui-sref="contacto">{{'msg.general.button.contacto' | translate}}</a>
                            </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="resources/images/images-betos/sizing/custom_3.jpg">
                    <div class="carousel-caption" style="margin-bottom: 10%;">
                        <p class="toggleCaption">
                            <h1 class="toggleHeading">{{'msg.pagina.home.slider.confianza' | translate }}</h1>
                            <p class="toggleCaption" style="font-size: 1.5em">
                                {{'msg.pagina.home.slider.confianza.texto' | translate}}
                                <br/>
                                <br/>
                                <a class="btn btn-primary" ui-sref="contacto">{{'msg.general.button.contacto' | translate}}</a>
                            </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="resources/images/images-betos/sizing/custom_4.png">
                    <div class="carousel-caption" style="margin-bottom: 10%;">
                        <p class="toggleCaption">
                            <h1 class="toggleHeading">{{'msg.pagina.home.slider.respeto' | translate}}</h1>
                            <p class="toggleCaption" style="font-size: 1.5em">
                                {{'msg.pagina.home.slider.respeto.texto' | translate}}
                                <br/>
                                <br/>
                                <a class="btn btn-primary" ui-sref="contacto">{{'msg.general.button.contacto' | translate}}</a>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fluid-section-two">
        <div class="large-container">
            <!--Bg Skew-->
            <div class="bg-skew"></div>

            <div class="clearfix">

                <!--Left Column-->
                <div class="left-column text-center">

                    <!--Why Us-->
                    <div class="why-us-column">
                        <h2>{{'msg.pagina.home.eligenos' | translate}}</h2>
                        <div class="desc-text">
                            <p>{{'msg.pagina.acercade.nuestraEmpresa.parrafo' | translate}}</p>
                        </div>
                        <h2 class="text-center toggleHeading">{{'msg.pagina.home.nuestrosvalores' | translate}}</h2>
                        <div class="row clearfix">
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                    <li>{{'msg.pagina.acercade.valores.pasion' | translate}}</li>
                                    <li>{{'msg.pagina.acercade.valores.compromiso' | translate}}</li>
                                    <li>{{'msg.pagina.acercade.valores.confianza' | translate}}</li>
                                </ul>
                            </div>

                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                    <li>{{'msg.pagina.acercade.valores.respeto' | translate}}</li>
                                    <li>{{'msg.pagina.acercade.valores.honestidad' | translate}}</li>
                                    <li>{{'msg.pagina.acercade.valores.responsabilidad' | translate}}</li>
                                </ul>
                            </div>
                        </div>

                        <!--Why us End-->
                    </div>
                </div>

                <!--Right Column-->
                <div class="right-column">
                    <h2>{{'msg.pagina.home.proceso' | translate}}</h2>
                    <div class="specs-outer">
                        <!--Left Border Line-->
                        <div class="line-left"></div>
                        <!--Spec Block-->
                        <div class="spec-block">
                            <div class="icon-box">
                                <span class="flaticon-shield147"></span>
                            </div>
                            <div class="text">
                                <strong>{{'msg.pagina.home.temperatura' | translate}}</strong>
                                <br>{{'msg.pagina.home.proceso.descripcion' | translate}}
                            </div>
                        </div>

                        <!--Spec Block-->
                        <div class="spec-block">
                            <div class="icon-box">
                                <span class="flaticon-settings62"></span>
                            </div>
                            <div class="text">
                                <strong>{{'msg.pagina.home.carga' | translate}}</strong>
                                <br>{{'msg.pagina.home.proceso.carga.descripción' | translate}}
                            </div>
                        </div>

                        <!--Spec Block-->
                        <div class="spec-block">
                            <div class="icon-box">
                                <span class="flaticon-speech117"></span>
                            </div>
                            <div class="text">
                                <strong>{{'msg.pagina.home.equipo' | translate}}</strong>
                                <br>{{'msg.pagina.home.proceso.equipo.descripcion' | translate}}
                            </div>
                        </div>

                        <!--Spec Block-->
                        <div class="spec-block">
                            <div class="icon-box">
                                <span class="flaticon-view28"></span>
                            </div>
                            <div class="text">
                                <strong>{{'msg.pagina.home.entrega' | translate}}</strong>
                                <br>{{'msg.pagina.home.proceso.entrega.descripcion' | translate}}
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>

    <!--Featured Services Section-->
    <section class="featured-services" style="padding: 30px 0px 30px;">
        <div class="auto-container">

            <div class="sec-title">
                <h2>{{'msg.pagina.home.certificaciones' | translate}}</h2>
            </div>

            <div class="row clearfix">
                <!--Block-->
                <article class="col-md-12 col-sm-12 col-xs-12 block" data-wow-delay="300ms" data-wo-duration="1000ms">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <img src="resources/images/certificaciones/oea.png" class="img-responsive centrar-imagen" style="max-width: 300px;">
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <img src="resources/images/certificaciones/ctpat.jpg" class="img-responsive centrar-imagen" style="max-width: 350px;height: 120px;">
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <img src="resources/images/certificaciones/fast.png" class="img-responsive centrar-imagen" style="max-width: 300px;">
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <img src="resources/images/certificaciones/dot.png" class="img-responsive centrar-imagen" style="max-width: 100px; max-height: 100px;">
                        </div>
                    </div>
                </article>
            </div>
    </section>

    <!--Featured Services Section-->
    <section class="featured-services">
        <div class="auto-container">

            <div class="sec-title">
                <h2>{{'msg.pagina.inicio.servicios.header' | translate}}</h2>
                <div class="heading-text">{{'msg.pagina.inicio.servicios.header.descripcion' | translate}}</div>
            </div>

            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon" style="margin:0;">
                            <span class="icon fa fa-road" style="margin:0;"></span>
                        </div>
                        <div class="content">
                            <h3>{{'msg.pagina.acercade.subheader.cuentaEspejo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.acercade.subheader.cuentaEspejo.descripcion' | translate}}</p>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <article class="inner-box" style="padding-bottom: 52px;">
                        <div class="icon" style="margin:0;">
                            <span class="icon fa fa-eye" style="margin:0;"></span>
                        </div>
                        <div class="content">
                            <h3>{{'msg.pagina.acercade.subheader.monitoreo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.acercade.subheader.monitoreo.descripcion' | translate}}</p>
                                <br>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <article class="inner-box" style="padding-bottom: 30px;">
                        <div class="icon" style="margin:0;">
                            <span class="fa fa-thumbs-o-up" style="margin:0;"></span>
                        </div>
                        <div class="content">
                            <h3>{{'msg.pagina.servicios.servicio1.titulo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.servicio1.texto' | translate}}</p>
                                <br>
                            </div>
                        </div>
                    </article>
                </div>
                <!--Column-->
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <div class="icon" style="margin:0;">
                            <span class="icon fa fa-exchange" style="margin:0;"></span>
                        </div>
                        <div class="content">
                            <h3>{{'msg.pagina.servicios.servicio2.titulo' | translate}}</h3>
                            <div class="text">
                                <p>{{'msg.pagina.servicios.servicio2.texto' | translate}}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </section>

    <!--Intro Section-->
    <section class="intro-section">
        <div class="auto-container">
            <div class="inner">
                <div class="skew-line line-left"></div>

                <div class="content-box">
                    <h2>{{'msg.pagina.home.barraAzul.entregaRapida' | translate}}</h2>
                </div>

                <div class="skew-line line-right"></div>
            </div>
        </div>
    </section>

    <!--Featured Three Column-->
    <section class="default-section featured-three-col">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#">
                                <img src="resources/images/images-betos/sizing/custom_370x202.png" alt="" title="">
                            </a>
                        </figure>
                        <div class="content">
                            <h3>Carga y descarga</h3>
                            <div class="text">
                                <p>Carga y descarga de mercancia en origen y destino</p>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#">
                                <img src="resources/images/images-betos/sizing/custom1_370x202.png" alt="" title="">
                            </a>
                        </figure>
                        <div class="content">
                            <h3>Rápida entrega</h3>
                            <div class="text">
                                <p>Procuramos hacer la entrega lo más rápido posible, tomando muy en cuenta los tiempos del cliente.</p>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Column-->
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#">
                                <img src="resources/images/images-betos/sizing/custom2_370x202.png" alt="" title="">
                            </a>
                        </figure>
                        <div class="content">
                            <h3>Estrategia de logistica</h3>
                            <div class="text">
                                <p>Dentro de la estrategia, calculamos los tiempos entre rutas, tomando en cuenta los contratiempos que puedan surgir en el camino.</p>

                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    </div>

    <!-- Modal -->
    <div id="languageModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{'msg.pagina.home.modal.header' | translate}}</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <h4>{{'msg.pagina.home.modal.subheader' | translate}}</h4>
                    </div>
                    <div class="row">
                        <button class="btn btn-default" ng-click="changeLanguage('es');">
                            <img src="resources/images/icons/mexico.png" width="50px" height="30px" />
                        </button>
                        <button class="btn btn-default" ng-click="changeLanguage('');">
                            <img src="resources/images/icons/usa.png" width="50px" height="30px" />
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{'msg.general.button.cancelar' | translate}}</button>
                </div>
            </div>
        </div>
    </div>