<div class="container">
    <div class="row">
        <div class="galeria">
            <div class="figura">
                <a href="resources/images/images-betos/002.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/002.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/003.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/003.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/004.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/004.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/005.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/005.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/006.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/006.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/A-6.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/A-6.jpg">
                </a>
            </div>

        </div>
    </div>
</div>