<div class="container">
    <div class="row">
        <div class="galeria">
            <div class="figura">
                <a href="resources/images/images-betos/gallery/001.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/001.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/002.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/002.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/003.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/003.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/004.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/004.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/005.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/005.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/006.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/006.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/007.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/007.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/008.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/008.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/009.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/009.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/011.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/011.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/012.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/012.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/013.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/013.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/014.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/014.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/015.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/015.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/016.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/016.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/017.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/017.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/A-1.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/A-1.jpg">
                </a>
            </div>
            <div class="figura">
                <a href="resources/images/images-betos/gallery/A-20.jpg" data-fancybox="gallery">
                    <img src="resources/images/images-betos/gallery/A-20.jpg">
                </a>
            </div>
        </div>
    </div>
</div>